<!DOCTYPE html>
<html>
  <head>
    <title><%= project.title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('navbar') %>

    <!-- Descriptions of the project -->
    <h1><%= project.title %></h1>
    <p><%= project.description %></p>
    <p>School: <a href="/schools/view/<%= project.school %>"><%= project.school %></a></p>
    <p>Goal: £<%= project.goalmoney %></p>
    <p>Current: £<%= project.currentmoney %></p>
    <p>Status: <%= project.status %></p>

    <!-- To Do: Donation Form -->
    <form id="donationForm" style="display: none;">
      <button type="submit" >Donate</button>
    </form>
    <p id="noDonation" style="display: none;">Donation not available</p>

    <br/>
    <!-- Button linking to edit page -->
    <a id="editProjectButton" style="display: none;">Edit Project</a>
  </body>

  <script>

    async function checkEligibility() {
      var school = "<%= project.school %>";
      var response = await fetch("<%= project.projectid %>", {
        method: "POST",
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          school: school,
        })
      });

      var responseBody = await response.text();
      if (response.status === 200) {
        console.log("Eligible for editing: " + responseBody);
        var editProjectButton = document.getElementById("editProjectButton");
        editProjectButton.style.display = 'block';
        editProjectButton.href = "/projects/edit/" + "<%= project.projectid %>";
      }
      else {
        console.log("Not Eligible for editing: " + responseBody);
      }
    }
  checkEligibility();

  var donationLink = "";
  async function checkDonation(){
    var response = await fetch("/projects/donate/<%= project.projectid %>", {
      method: "POST",
      headers: {
        'Content-Type': 'application/json'
      },
    });

    var json = await response.json();
    var donationForm = document.getElementById("donationForm");
    var noDonation = document.getElementById("noDonation")
    if (response.status === 200) {
      console.log("Eligible for donation: " + json.msg);
      donationForm.action = json.link;
      donationForm.style.display = 'block';
      noDonation.style.display = 'none';
    }
    else {
      console.log("Not Eligible for donation: " + json.msg);
      donationForm.style.display = 'none';
      noDonation.style.display = 'block';
    }
  }

  checkDonation();
  </script>
  
</html>
